@import 'nib'

body
	font-family 'Roboto'

h1
	margin 20px 0 10px 0
	font-size 2.5rem
	text-align center

h2
	margin 40px 0 10px 0
	font-size 2rem

.box
	display flex
	flex-flow row wrap
	justify-content center
	align-items center
	width 100%
	height 100px
	background-image linear-gradient(45deg, #2196F3, #673AB7) 
	border 1px solid #fff
	color #fff

	&--large
		height 50vh